<h2>Ebook Catalog</h2>
<% if notice %>
<p><%= notice %></p>
<% end %>
<% @products.each  do |product| %>
	<%= image_tag(product.image_url) %>
	<%= product.description %><br>
	<legend><%= number_to_currency(product.price) %></legend>
<% end %>
